/*Template Name:BucketAdmin Dashboard build with Bootstrap v3+ Author: ThemeBucket*/
/* Import fonts */

@font-face{
    font-family: 'nanumgothicregular';
    src: url('nanumgothic-regular-webfont.woff2') format('woff2'),
         url('nanumgothic-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}
body {
    color:#767676;
    background:#f1f2f7;
    font-family: 'NanumGothic', san-serif !important;
    padding:0px !important;
    margin:0px !important;
    font-size:13px;
    text-rendering:optimizeLegibility;
}
ul, .list-unstyled {
    padding-left: 30px;
}
ul li {
    /*list-style:none;*/
}

a,a:hover,a:focus {
    text-decoration:none;
    outline:none;
}
::selection {
    background:#1FB5AD;
    color:#fff;
}
::-moz-selection {
    background:#1FB5AD;
    color:#fff;
}
#container {
    width:100%;
    height:100%;
    -webkit-transition:all .3s ease-in-out;
    -moz-transition:all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
/*login page*/
.login-body {
    background:#32323A;
    background-size:cover;
    width:100%;
    height:100%;
}
.form-signin {
    max-width:330px;
    margin:10px auto;
    background:#fff;
    border-radius:5px;
    -webkit-border-radius:5px;
}
.form-signin h2.form-signin-heading {
    margin:0;
    padding:15px 15px;
    text-align:center;
    background:#aec785;
    border-radius:5px 5px 0 0;
    -webkit-border-radius:5px 5px 0 0;
    color:#fff;
    font-size:14px;
    font-weight:300;
    font-family:'Open Sans',sans-serif;
    border-bottom:10px solid #a0b87e;
}
.form-signin .checkbox {
    margin-bottom:14px;
    padding-left: 20px;
}
.form-signin .checkbox {
    font-weight:normal;
    color:#b6b6b6;
    font-weight:300;
    font-family:'Open Sans',sans-serif;
}
.form-signin .form-control {
    position:relative;
    font-size:16px;
    height:auto;
    padding:10px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
.form-signin .form-control:focus {
    z-index:2;
}
.form-signin input[type="text"],.form-signin input[type="password"] {
    margin-bottom:15px;
    border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #eaeaea;
    box-shadow:none;
    font-size:12px;
}
.form-signin .btn-login {
    background:#1fb5ac;
    color:#fff;
    font-weight:300;
    font-family:'Open Sans',sans-serif;
    margin:20px 0 5px;
}
.form-signin p {
    text-align:left;
    color:#b6b6b6;
    font-size:16px;
    font-weight:300;
}
.form-signin a,.form-signin a:hover {
    color:#1fb5ac;
}
.form-signin a:hover {
    text-decoration:underline;
}
.login-wrap {
    padding:20px;
    position:relative;
}
.user-login-info {
    background:#eaeaec;
    margin:-20px -20px 20px -20px;
    padding:20px;
}
.user-login-info .form-control:last-child {
    margin-bottom:0 !important;
}
.registration {
    position:absolute;
    right:0;
    bottom:-35px;
    color: #b8bab9;
}
/*sidebar navigation*/
#sidebar {
    width:240px;
    height:100%;
    position:fixed;
    background: linear-gradient(-175deg, #1FB5AD, #773C72) fixed;
    -webkit-transition:all .3s ease-in-out;
    -moz-transition:all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out;
}
#sidebar ul li {/*checking*/
    position: relative;
    background:#557080;
}

.leftside-navigation,.right-stat-bar{  /*사이드바 전체*/
    height: 94%;
    background: linear-gradient(-175deg, #1FB5AD, #773C72) fixed;
}

.right-stat-bar ul {
    list-style-type: none;
    padding-left: 0;
}


/*LEFT NAVIGATION ICON*/
.dcjq-icon {
    height:17px;
    width:17px;
    display:inline-block;
    background:url(./images/nav-expand.png) no-repeat top;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    position:absolute;
    right:10px;
}
.active .dcjq-icon {
    background:url(./images/nav-expand.png) no-repeat bottom;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}
.right-side-accordion .dcjq-icon {
    height:100%;
    width:17px;
    display:inline-block;
    background:url(./images/acc-expand.png) no-repeat top;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    position:absolute;
    right:10px;
}
.right-side-accordion .active .dcjq-icon {
    background:url(./images/acc-expand.png) no-repeat bottom;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius: 3px;
}

.right-side-accordion li:nth-child(2) ul li .prog-row {
    border: none;
}
/*---*/
.nav-collapse.collapse {
    display:inline;
}
ul.sidebar-menu,ul.sidebar-menu li ul.sub {
    margin:-2px 0 0;
    padding:0;
}
ul.sidebar-menu {
    padding-top:80px;
    height:100%;

}
#sidebar>ul>li>ul.sub {
    display:none;
}
#sidebar .sub-menu>.sub li a {
    padding-left:46px;
}
#sidebar>ul>li.active>ul.sub,#sidebar>ul>li>ul.sub>li>a {
    display:block;
}
ul.sidebar-menu li ul.sub li {
    background:#28282e;
    margin-bottom:0;
    margin-left:0;
    margin-right:0;
}
ul.sidebar-menu li ul.sub li a {
    font-size:12px;
    padding-top:13px;
    padding-bottom:13px;
    -webkit-transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    -ms-transition:all 0.3s ease;
    transition:all 0.3s ease;
    color:#aeb2b7;
}
ul.sidebar-menu li ul.sub li a:hover,ul.sidebar-menu li ul.sub li.active a {
    color:#1fb5ad;
    -webkit-transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    -ms-transition:all 0.3s ease;
    transition:all 0.3s ease;
    display:block;
    background:#202025;
}
ul.sidebar-menu li {
    border-bottom:1px solid rgba(255,255,255,0.05);
}
ul.sidebar-menu li.sub-menu {
    line-height:15px;
}
ul.sidebar-menu ul.sub li {
    border-bottom:none;
    background:blue;
}
ul.sidebar-menu li a span {
    font-weight:bold;
    display:inline-block;
}
ul.sidebar-menu li a {
    color:#aeb2b7;
    text-decoration:none;
    display:block;
    padding:18px 0 18px 25px;
    font-size:12px;

    outline:none;
    -webkit-transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    -ms-transition:all 0.3s ease;
    transition:all 0.3s ease;
}
ul.sidebar-menu li a.active,ul.sidebar-menu li a:hover,ul.sidebar-menu li a:focus {  /*선택됨*/
    background:#548298;
    color:white;
    font-weight:bold;
    display:block;
    -webkit-transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    -ms-transition:all 0.3s ease;
    transition:all 0.3s ease;
}
ul.sidebar-menu li a i { /*선택안된 아이콘*/
    font-size:15px;
    padding-right:6px;
    color:#AEB2B7;
}
ul.sidebar-menu li a:hover i,ul.sidebar-menu li a:focus i {
    color:#1fb5ad;
}
ul.sidebar-menu li a.active i {/*선택된 아이콘*/
    color:white;
}
.mail-info,.mail-info:hover {
    margin:-3px 6px 0 0;
    font-size: 11px;
}
/*main content*/
#main-content {
    margin-left:240px;
    -webkit-transition:all .3s ease-in-out;
    -moz-transition:all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out;
}
.footer {
    min-height:60px;
    padding:0 15px;
}
.header {
    left:0;
    right:0;
    z-index:1002;
    background:#fff;
    -webkit-transition:all .3s ease-in-out;
    -moz-transition:all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out;
}
.merge-header {
    margin-right:240px;
}
.fixed-top {
    position:fixed;
    box-shadow:1px 0 3px rgba(0,0,0,.15);
}
.wrapper {
    display:inline-block;
    margin-top:80px;
    padding:15px;
    width:100%;

}
.brand {
    background:#51515B;
    float:left;
    width:240px;
    height:80px;
    position:relative;
}
a.logo {
    font-size:21px;
    color:#2e2e2e;
    float:left;
    margin:20px 0 0 25px;
}
a.logo:hover,a.logo:focus {
    text-decoration:none;
    outline:none;
}
a.logo span {
    color: #FF6C60;
}
/*notification*/
#top_menu .nav>li,ul.top-menu>li {
    float:left;
}
.notify-row {
    float:left;
    margin-top:25px;
    margin-left:25px;
}
ul.top-menu {
    margin-right:15px;
    margin-top: 0px;
}
ul.top-menu > li > a {
    color:#666666;
    font-size:16px;
    background:#f6f6f6;
    padding:4px 8px;
    margin-right:15px;
    border-radius:50%;
    -webkit-border-radius:50%;
    padding-right:8px !important;
}
ul.top-menu>li>a:hover,ul.top-menu>li>a:focus {
    background:#32D2C9;
    text-decoration:none;
    color:rgba(0,0,0,0.3) !important;
    padding-right:8px !important;
}
.notify-row .badge {
    position:absolute;
    right:-10px;
    top:-10px;
    z-index:100;
}
.dropdown-menu.extended {
    max-width:320px !important;
    min-width:160px !important;
    top:42px;
    width:300px !important;
    padding:0 10px;
    box-shadow:0 0px 5px rgba(0,0,0,0.1) !important;
    border-radius:5px;
    -webkit-border-radius:5px;
    background:#fff;
    border:none;
    left:-10px;
}
.notify-row .notification span.label {
    display:inline-block;
    height:21px;
    padding:5px;
    width:22px;
    font-size:12px;
    margin-right:10px;
}
.dropdown-menu.extended .alert-icon,.noti-info {
    float:left;
}
.noti-info {
    padding-left:10px;
    padding-top:6px;
    color:#414147;
}
.dropdown-menu.extended .alert {
    margin-bottom:10px;
}
.dropdown-menu.extended .alert-icon {
    border-radius:100%;
    display:inline-block;
    height:35px;
    width:35px;
}
.dropdown-menu.extended .alert-icon i {
    font-size:16px;
    width:35px;
    line-height:35px;
    height:35px;
}
.dropdown-menu.extended.inbox li a,.dropdown-menu.extended.tasks-bar li a {
    background:#f1f2f7;
    border-radius:5px;
    -webkit-border-radius:5px;
    padding:10px;
    margin-bottom:10px;
    float:left;
    width:100%;
}
.dropdown-menu.extended li p {
    margin:0;
    padding:10px 0;
    border-radius:0px;
    -webkit-border-radius:0px;
}
.dropdown-menu.extended li a {
    font-size:12px;
    list-style:none;
}
.dropdown-menu.extended.logout {
    padding:10px;
}
.dropdown-menu.extended.logout li a {
    padding:10px;
}
.dropdown-menu.extended li a:hover {
    color:#32323a;
}
.dropdown-menu.tasks-bar .task-info .desc {
    font-size:13px;
    font-weight:normal;
    float:left;
    width:80%;
}
.dropdown-menu.tasks-bar .task-info .desc h5 {
    color:#32323a;
    font-size:12px;
    font-weight:600;
    margin-bottom:5px;
    margin-top:0;
}
.dropdown-menu.tasks-bar .task-info .desc p {
    padding-top:0;
    color:#8f8f9b;
    font-weight:300;
}
.dropdown-menu.tasks-bar .task-info .percent {
    width:20%;
    float:right;
    font-size:13px;
    font-weight:600;
    padding-left:10px;
    line-height:normal;
}
.dropdown-menu.tasks-bar .progress {
    background:#fff;
}
.dropdown-menu.extended .progress {
    margin-bottom:0 !important;
    height:10px;
}
.dropdown-menu.inbox li a .photo img {
    border-radius:2px 2px 2px 2px;
    -webkit-border-radius:2px 2px 2px 2px;
    float:left;
    height:40px;
    margin-right:10px;
    width:40px;
}
.dropdown-menu.inbox li a .subject {
    display:block;
}
.dropdown-menu.inbox li a .subject .from {
    font-size:12px;
    font-weight:600;
}
.dropdown-menu.inbox li a .subject .time {
    font-size:11px;
    font-style:italic;
    font-weight:bold;
    position:absolute;
    right:20px;
}
.dropdown-menu.inbox li a .message {
    display:block !important;
    font-size:11px;
}
.top-nav {
    margin-top:20px;
}
.top-nav img {
    border-radius:50%;
    -webkit-border-radius:50%;
    width:33px;
}
.top-nav .icon-user i {
    height: 33px;
    width:33px;
    line-height: 33px;
    display: inline-block;
    font-size: 1.7em;
    padding-left: 10px;
}
.top-nav .icon-user .username {
    color: #555555;
    font-size: 13px;
    position: relative;
    top: -5px;
}
.top-nav .icon-user .caret {
    position: relative;
    top: -4px;
}
.top-nav ul.top-menu>li .dropdown-menu.logout {
    width:170px !important;
}
.top-nav li.dropdown .dropdown-menu {
    float:right;
    right:0;
    left:auto;
}
.dropdown-menu.extended.logout>li {
    float:left;
    width:100%;
}
.log-arrow-up {
    background:url("./images/top-arrow.png") no-repeat;
    width:18px;
    height:10px;
    margin-top:-20px;
    float:right;
    margin-right:15px;
}
.dropdown-menu.extended.logout>li>a {
    border-bottom:none !important;
}
.full-width .dropdown-menu.extended.logout>li>a:hover {
    background:#F1F2F7 !important;
    color:#32323a !important;
}
.dropdown-menu.extended.logout>li>a:hover {
    background:#F1F2F7 !important;
    border-radius:5px;
}
.dropdown-menu.extended.logout>li>a:hover i {
    color:#32D2C9;
}
.dropdown-menu.extended.logout>li>a i {
    font-size:17px;
}
.dropdown-menu.extended.logout>li>a>i {
    padding-right:10px;
}
.top-nav .username {
    font-size:13px;
    color:#555555;
}
.top-nav ul.top-menu>li>a {
    border-radius:100px;
    -webkit-border-radius:100px;
    padding:0px;
    background:none;
    margin-right:0;
    border:1px solid #F6F6F6;
    background:#F6F6F6;
}
.top-nav ul.top-menu>li.language>a {
    margin-top:-2px;
    padding:4px 12px;
    line-height:20px;
}
.top-nav ul.top-menu>li.language>a img {
    border-radius:0;
    -webkit-border-radius:0;
    width:18px;
}
.top-nav ul.top-menu>li.language ul.dropdown-menu li img {
    border-radius:0;
    -webkit-border-radius:0;
    width:18px;
}
.top-nav ul.top-menu>li {
    margin-left:10px;
}
.top-nav ul.top-menu>li>a:hover,.top-nav ul.top-menu>li>a:focus {
    border:1px solid #f6f6f6;
    background:#f6f6f6 !important;
    border-radius:100px;
    -webkit-border-radius:100px;
}
.top-nav .dropdown-menu.extended.logout {
    top:50px;
}
.top-nav .nav .caret {
    border-bottom-color:#A4AABA;
    border-top-color:#A4AABA;
}
.top-nav ul.top-menu>li>a:hover .caret {
    border-bottom-color:#000;
    border-top-color: #000;
}
/*form*/
.position-center {
    width:62%;
    margin: 0 auto;
}
/*----*/
.notify-arrow {
    background:url("./images/top-arrow.png") no-repeat;
    width:18px;
    height:10px;
    margin-top:0;
    opacity:0;
    position:absolute;
    left:16px;
    top:-20px;
    transition:all 0.25s ease 0s;
    z-index:10;
    margin-top:10px;
    opacity: 1;
}
/*search*/
.search {
    width:20px;
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    -ms-transition:all .3s ease;
    -o-transition:all .3s ease;
    transition:all .3s ease;
    border:1px solid #fff;
    box-shadow:none;
    background:#f6f6f6 url("./images/search-icon.png") no-repeat 10px 8px;
    padding:0 5px 0 30px;
    color:#fff;
    border-radius:100px;
    -webkit-border-radius:100px;
}
.search:focus {
    width:180px;
    border:1px solid #f6f6f6;
    box-shadow:none;
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    -ms-transition:all .3s ease;
    -o-transition:all .3s ease;
    transition:all .3s ease;
    color:#c8c8c8;
    font-weight: 300;
}
.todo-search:focus{
    width:100% !important;
}
/*--sidebar toggle---*/
.sidebar-toggle-box {
    float:left;
    margin-top:23px;
    margin-left:-15px;
    background:#32D2C9;
    border-radius:50%;
    -webkit-border-radius:50%;
    width:32px;
    height:32px;
    position:absolute;
    right:-15px;
}
.sidebar-toggle-box .fa-bars {
    cursor:pointer;
    display:inline-block;
    font-size:15px;
    padding:8px 8px 8px 9px;
    color:rgba(0,0,0,.3);
}
.sidebar-toggle-box:hover {
    background:#F6F6F6;
}
.hide-left-bar {
    margin-left:-240px !important;
    -webkit-transition:all .3s ease-in-out;
    -moz-transition:all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out;
}
.open-right-bar {
    right:0px !important;
    -webkit-transition:all .3s ease-in-out;
    -moz-transition:all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out;
}
.merge-left {
    margin-left:0px !important;
}
.hide-right-bar {
    margin-right:-240px !important;
    -webkit-transition:all .3s ease-in-out;
    -moz-transition:all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out;
}
.toggle-right-box {
    float:left;
    background:#f6f6f6;
    border-radius:50%;
    -webkit-border-radius:50%;
    width:35px;
    height:35px;
}
.toggle-right-box:hover {
    background:#32D2C9;
}
.toggle-right-box:hover .fa-bars {
    color:rgba(0,0,0,0.3);
}
.toggle-right-box .fa-bars {
    cursor:pointer;
    display:inline-block;
    font-size:15px;
    padding:10px;
    color: #bfbfc1;
}
/*right sidebar*/
.right-sidebar {
    background:#32323A;
    width:240px;
    position:fixed;
    height:100%;
    z-index:1000;
    right:-240px;
    top:0;
    -webkit-transition:all .3s ease-in-out;
    -moz-transition:all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out;
}
.open-right-panel {
    margin-left:-240px !important;
}
.right-sidebar .search-row {
    padding:20px;
}
.right-sidebar .search-row input {
    background:rgba(0,0,0,0.3);
    border:none;
    color:#707076;
    font-size:12px;
}
.right-side-accordion {
    margin-top:6px;
}
.right-side-accordion .head {
    padding:20px;
    width:100%;
    display:inline-block;
}
.right-side-accordion .red-bg {
    background:#fa8564;
    color:#fff;
}
.right-side-accordion .terques-bg {
    background:#45c9c4;
    color:#fff;
}
.right-side-accordion .purple-bg {
    background:#a48ad4;
    color:#fff;
}
.right-side-accordion .yellow-bg {
    background:#f3c022;
    color:#fff;
}
.right-side-accordion .gray-bg {
    background:#A4A4A4;
    color:#fff;
}
.right-side-accordion .green-bg {
    background:#A9F5A9;
    color:#fff;
}
.right-side-accordion .blue-bg {
    background:#819FF7;
    color:#fff;
}
.prog-row {
    display:inline-block;
    padding:20px 0;
    width:100%;
}
.prog-row .progress {
    margin-bottom:0;
}
.prog-row h4 {
    margin:0;
    font-size:12px;
    color:#fff;
    font-weight:400;
}
.user-details h4 {
    text-transform:none;
    font-size:14px;
    font-weight:300;
}
.prog-row p {
    font-size:10px;
    color:#8f8f9b;
    margin-bottom:0;
}
.mtop10 {
    margin-top:10px;
}
.user-thumb,.user-details,.user-status,.rsn-details {
    float:left;
}
.user-thumb {
    width:30px;
    margin:0 10px 0 20px;
}
.user-thumb img {
    border-radius:50%;
    -webkit-border-radius:50%;
    width:30px;
    height:30px;
}
.user-details {
    width:150px;
}
.rsn-details {
    width:170px;
}
.rsn-details a,.rsn-details a:hover {
    color:#a48ad4;
    font-size:11px;
}
.user-details a {
    color:#fff;
}
.user-status {
    width:25px;
    margin-top:5px;
}
.view-btn,.view-btn:hover {
    color:#6c6c72;
    margin:10px 0;
    display:inline-block;
}
.view-btn:hover {
    text-decoration:underline;
}
.rsn-activity i {
    font-size: 30px;
}
/*state overview*/
.state-overview .symbol,.state-overview .value {
    display:inline-block;
    text-align:center;
}
.state-overview .value {
    float:right;
}
.state-overview .value h1,.state-overview .value p {
    margin:0;
    padding:0;
    color:#c6cad6;
}
.state-overview .value h1 {
    font-weight:300;
}
.state-overview .symbol i {
    color:#fff;
    font-size:50px;
}
.state-overview .symbol {
    width:40%;
    padding:25px 15px;
    -webkit-border-radius:4px 0px 0px 4px;
    border-radius:4px 0px 0px 4px;
}
.state-overview .value {
    width:58%;
    padding-top:21px;
}
.state-overview .terques {
    background:#6ccac9;
}
.state-overview .red {
    background:#ff6c60;
}
.state-overview .yellow {
    background:#f8d347;
}
.state-overview .blue {
    background: #57c8f2;
}
/*badge*/
.badge.bg-primary {
    background:#8075c4;
}
.badge.bg-success {
    background:#a9d86e;
}
.badge.bg-warning {
    background:#FCB322;
}
.badge.bg-important {
    background:#ff6c60;
}
.badge.bg-info {
    background:#41cac0;
}
.badge.bg-inverse {
    background: #2A3542;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    /* Safari and Chrome */
    .panel-footer.revenue-foot {
        margin-bottom:-4px;
    }
}
.panel-footer.revenue-foot ul {
    margin:0;
    padding:0;
    width:100%;
    display:inline-flex;
}
.panel-footer.revenue-foot ul li {
    float:left;
    width:33.33%;
}
.panel-footer.revenue-foot ul li.first a:hover,.panel-footer.revenue-foot ul li.first a {
    -webkit-border-radius:0px 0px 0px 4px;
    border-radius:0px 0px 0px 4px;
}
.panel-footer.revenue-foot ul li.last a:hover,.panel-footer.revenue-foot ul li.last a {
    -webkit-border-radius:0px 0px 4px 0px;
    border-radius:0px 0px 4px 0px;
    border-right:none;
}
.panel-footer.revenue-foot ul li a {
    display:inline-block;
    width:100%;
    padding:14px 15px;
    text-align:center;
    border-right:1px solid #d5d8df;
    color:#797979;
}
.panel-footer.revenue-foot ul li a:hover,.panel-footer.revenue-foot ul li.active a {
    background:#fff;
    position:relative;
}
.panel-footer.revenue-foot ul li a i {
    color:#c6cad5;
    display:block;
    font-size:16px;
}
.panel-footer.revenue-foot ul li a:hover i,.panel-footer.revenue-foot ul li.active a i {
    color:#ff6c60;
    display:block;
    font-size: 16px;
}
/*weather*/
.weather-bg {
    background:#8175c7;
    border-radius:4px 4px 0 0;
    -webkit-border-radius:4px 4px 0 0;
    color:#fff;
    text-align:center;
    font-size:16px;
    font-weight:300;
}
.weather-bg i {
    font-size:60px;
    display:block;
}
.weather-bg .degree {
    font-size:60px;
}
.weather-category {
    padding:15px 0;
    color:#74829C;
}
.weather-category ul {
    padding:0;
    margin:0;
    display:inline-block;
    width:100%;
}
.weather-category ul li {
    display:inline-block;
    width:32%;
    text-align:center;
    border-right:1px solid #e6e6e6;
    display:inline-block;
}
.weather-category ul li h5 {
    margin:0 0 5px 0;
    font-weight:300;
}
.weather-category ul li a {
}
.weather-category ul li:last-child {
    border-right: none;
}
/*fontawesome*/
.fontawesome-icon-list h2 {
    margin-top:0;
    font-size:20px;
    font-weight:300;
}
.fontawesome-icon-list .col-sm-4,.fontawesome-icon-list .col-md-3,.fontawesome-icon-list .col-xs-6 {
    margin-bottom:10px;
}
.fontawesome-icon-list .page-header {
    border-bottom:1px solid #C9CDD7;
}
.fontawesome-icon-list a {
    color:#797979;
}
.fontawesome-icon-list a:hover {
    color:#35404D;
}
.fontawesome-icon-list i {
    font-size:16px;
    padding-right:10px;
}
#web-application,#text-editor,#directional,#video-player,#brand,#medical,#currency {
    margin-top: 10px;
}
/*panel heading color*/
.panel-primary>.panel-heading.navyblue {
    background-color:#2A3542;
    border-color:#2A3542;
    color: #FFFFFF;
}
/*table*/
.table-advance tr td {
    vertical-align:middle !important;
}
.no-border {
    border-bottom:none;
}
.dataTables_length,.dataTables_filter {
    padding:15px;
}
.dataTables_info {
    padding:0 15px;
}
.dataTables_filter {
    float:right;
}
.dataTables_length select {
    width:65px;
    padding:5px 8px;
}
.dataTables_length label,.dataTables_filter label {
    font-weight:300;
}
.dataTables_filter label {
    width:100%;
}
.dataTables_filter label input {
    width:78%;
}
.border-top {
    border-top:1px solid #ddd;
}
.dataTables_paginate.paging_bootstrap.pagination li {
    float:left;
    margin:0 1px;
    border:1px solid #ddd;
    border-radius:3px;
    -webkit-border-radius:3px;
    list-style: none;
}
.dataTables_paginate.paging_bootstrap.pagination li.disabled a {
    color:#c7c7c7;
}
.dataTables_paginate.paging_bootstrap.pagination li a {
    color:#797979;
    padding:5px 10px;
    display:inline-block;
}
.dataTables_paginate.paging_bootstrap.pagination li:hover a,.dataTables_paginate.paging_bootstrap.pagination li.active a {
    color:#797979;
    background:#eee;
    border-radius:3px;
    -webkit-border-radius:3px;
}
.dataTables_paginate.paging_bootstrap.pagination {
    float:right;
    margin-top:-5px;
    margin-bottom:15px;
}
.dataTable tr:last-child {
    border-bottom: 1px solid #ddd;
}
/*calender*/
.has-toolbar.fc {
    margin-top:50px;
}
.fc-header-title {
    display:inline-block;
    margin-top:-45px;
    vertical-align:top;
}
.fc-header-center {
    text-align:left;
}
.fc-header-left {
    text-align:left;
    width:18%;
}
.fc-view {
    margin-top:-50px;
    overflow:hidden;
    width:100%;
}
.fc-state-default,.fc-state-default .fc-button-inner {
    background:#F3F3F3 !important;
    border-color:#DDDDDD;
    border-style:none solid;
    color:#646464;
}
.fc-state-active,.fc-state-active .fc-button-inner,.fc-state-active,.fc-button-today .fc-button-inner,.fc-state-hover,.fc-state-hover .fc-button-inner {
    background:#32323A !important;
    color:#fff !important;
}
.fc-event-skin {
    background-color:#1FB5AD !important;
    border-color:#1FB5AD !important;
    color:#FFFFFF !important;
}
.fc-grid th {
    height:50px;
    line-height:50px;
    text-align:center;
    background:#e4e4e4 !important;
}
.fc-header-title h2 {
    font-size:18px !important;
    color:#474752;
    font-weight:300;
    padding:0 10px;
}
.external-event {
    cursor:move;
    display:inline-block !important;
    margin-bottom:8px !important;
    margin-right:6px !important;
    padding:15px;
    font-size:13px;
    width:99%;
    height:65px;
    text-align:left;
}
#external-events p input[type="checkbox"] {
    margin:0;
}
.drg-event-title {
    font-weight:300;
    margin-top:0;
    margin-bottom:15px;
    border-bottom:1px solid #ddd;
    padding-bottom:10px;
}
.fc-content .fc-event {
    border-radius:4px;
    webkit-border-radius:4px;
    padding: 4px 6px;
}
.drp-rmv {
    padding-top:10px;
    margin-top: 10px;
}
/*button*/
.btn-row {
    margin-bottom: 10px;
}
/*tabs*/
.tab-head {
    background:#7087a3;
    display:inline-block;
    width:100%;
    margin-top:60px;
}
.tab-container {
    margin-top:10px;
}
.tab-head .nav-tabs>li>a {
    border-radius:0;
    margin-right:1px;
    color:#fff;
}
.tab-head .nav-tabs>li.active>a,.tab-head .nav-tabs>li>a:hover,.tab-head .nav-tabs>li.active>a:hover,.tab-head .nav-tabs>li.active>a:focus {
    background-color:#f1f2f7;
    border-color:#f1f2f7;
    color: #797979;
}
/*general page*/
.progress-xs {
    height:10px;
}
.progress-sm {
    height:12px;
}
.panel-heading .nav {
    border:medium none;
    font-size:13px;
    margin:-15px -15px -15px;
}
.tab-bg-dark-navy-blue ul>li>a {
    display:block;
    padding:20px 15px !important;
}
.tab-bg-dark-navy-blue {
    background:#e0e1e7 !important;
    border-radius:5px 5px 0 0;
    -webkit-border-radius:5px 5px 0 0;
    border-bottom:none;
}

.tab-bg-dark-navy-blue li a:hover, .tab-bg-dark-navy-blue li.active a {
    border-radius: 0 !important;
    background: #fff !important;
    color: #1FB5AD !important;
}
.panel-heading .nav>li>a,.panel-heading .nav>li.active>a,.panel-heading .nav>li.active>a:hover,.panel-heading .nav>li.active>a:focus {
    border-width:0;
    border-radius:0;
}
.panel-heading .nav>li>a {
    color:#898989;
}
.panel-heading .nav>li.active>a,.panel-heading .nav>li>a:hover {
    color:#1fb5ad;
    background:#fff;
}
.panel-heading .nav>li:first-child.active>a,.panel-heading .nav>li:first-child>a:hover {
    border-radius:4px 0 0 0 !important;
    -webkit-border-radius:4px 0 0 0 !important;
}
.tab-right {
    height:58px;
}
.panel-heading.tab-right .nav>li:first-child.active>a,.tab-right.panel-heading .nav>li:first-child>a:hover {
    border-radius:0;
    -webkit-border-radius:0;
}
.panel-heading.tab-right .nav>li:last-child.active>a,.tab-right.panel-heading .nav>li:last-child>a:hover {
    border-radius:0 4px 0 0;
    -webkit-border-radius:0 4px 0 0;
}
.panel-heading.tab-right .nav-tabs>li>a {
    margin-left:1px;
    margin-right:0px;
}
.m-bot20 {
    margin-bottom:20px;
}
.m-bot-none {
    margin-bottom:0;
}
.wht-color {
    color:#fff;
}
.close-sm {
    font-size: 14px;
}
/*carousel*/
.carousel-indicators li {
    background:rgba(0,0,0,0.2);
    border:none;
    transition:background-color 0.25s ease 0s;
    -moz-transition:background-color 0.25s ease 0s;
    -webkit-transition:background-color 0.25s ease 0s;
}
.carousel-indicators .active {
    background:#333;
    height:10px;
    margin:1px;
    width:10px;
}
.carousel-indicators.out {
    bottom:-5px;
}
.carousel-indicators.out {
    bottom:-5px;
}
.carousel-control {
    color:#999999;
    text-shadow:none;
    width:45px;
}
.carousel-control i {
    display:inline-block;
    height:25px;
    left:50%;
    margin-left:-10px;
    margin-top:-10px;
    position:absolute;
    top:50%;
    width:20px;
    z-index:5;
}
.carousel-control.left,.carousel-control.right {
    background:none;
    filter:none;
}
.carousel-control:hover,.carousel-control:focus {
    color:#CCCCCC;
    opacity:0.9;
    text-decoration:none;
}
.carousel-inner h3 {
    font-weight:300;
    font-size:16px;
    margin:0;
}
.carousel-inner {
    margin-bottom: 15px;
}
/*gritter*/
.gritter-close {
    left:auto !important;
    right: 3px !important;
}
/*form*/
.sm-input {
    width:175px;
}
.form-horizontal.bucket-form .form-group {
    border-bottom:1px solid #eff2f7;
    padding-bottom:15px;
    margin-bottom:15px;
}
.form-horizontal.bucket-form .form-group:last-child {
    border-bottom:none;
    padding-bottom:0px;
    margin-bottom:0px;
}
.form-horizontal.bucket-form .form-group .help-block {
    margin-bottom:0;
}
.round-input {
    border-radius:500px;
    -webkit-border-radius:500px;
}
.m-bot15 {
    margin-bottom:15px;
}
.form-horizontal.bucket-form .checkbox-inline>input {
    margin-top:1px;
    border:none;
}
.btn.btn-info.dropdown-toggle {
    border-left: 1px solid #1fadea;
}
/*custom checkox & radio btn*/
.icheck div,.icheck .disabled {
    float:left;
}
.icheck div {
    margin-right:10px;
}
.icheck label {
    font-weight:normal;
}
.icheck .checkbox,.icheck .radio {
    margin-bottom:10px;
}
.icheck .single-row {
    display:inline-block;
    width: 100%;
}
/*form validation*/
.cmxform .form-group label.error {
    display:inline;
    margin:5px 0;
    color:#B94A48;
    font-weight:400;
}
input:focus:invalid:focus,textarea:focus:invalid:focus,select:focus:invalid:focus,.cmxform .form-group input.error,.cmxform .form-group textarea.error {
    border-color:#B94A48 !important;
}
#signupForm label.error {
    display:inline;
    margin:5px 0px;
    width:auto;
    color:#B94A48;
}
.checkbox,.checkbox:hover,.checkbox:focus {
    border: none;
}
/*slider*/
.slider-table tr td {
    padding:30px 0 !important;
    border: none !important;
}
/*widget*/
.user-heading.alt {
    display:inline-block;
    width:100%;
    text-align:left;
}
.alt.gray-bg {
    background:#474751;
}
.terques-bg {
    background:#1fb5ad;
}
.profile-nav.alt.green-border ul>li>a:hover i {
    color:#1fb5ad;
}
.user-heading.alt a {
    float:left;
    margin-right:15px;
    margin-left:-10px;
    display:inline-block;
    border:5px solid rgba(255,255,255,0.3);
    border-radius:50%;
    -webkit-border-radius:50%;
}
.user-heading.alt a img {
    width:85px;
    height:85px;
    border-radius:50%;
    -webkit-border-radius:50%;
}
.twt-feed {
    border-radius:4px 4px 0 0;
    -webkit-border-radius:4px 4px 0 0;
    color:#FFFFFF;
    padding:40px 10px 10px;
    position:relative;
    min-height:170px;
}
.corner-ribon {
    text-align:center;
    width:71px;
    height:71px;
    position:absolute;
    right:0;
    top:0;
    font-size:20px;
}
.corner-ribon i {
    padding:10px 0 0 35px;
    color:#fff;
}
.blue-ribon {
    background:url("./images/twitter_corner_blue.png") no-repeat;
}
.black-ribon {
    background:url("./images/twitter_corner_black.png") no-repeat;
}
.twt-feed.blue-bg {
    background:#58C9F3;
}
.twt-feed h1 {
    font-size:18px;
    font-weight:300;
    margin-bottom:5px;
}
.twt-feed a {
    border-radius:50%;
    -webkit-border-radius:50%;
    float:left;
    margin:0 10px;
}
.twt-feed a img {
    height:85px;
    width:85px;
    border-radius:50%;
    -webkit-border-radius:50%;
}
.twt-category {
    display:inline-block;
    margin-bottom:11px;
    margin-top:10px;
    width:100%;
}
.twt-feed .wtt-mark {
    color:rgba(255,255,255,0.15);
    font-size:160px;
    position:absolute;
    top:10px;
    left:40%;
}
.twt-category ul li {
    color:#bdbdbd;
    font-size:13px;
}
.twt-category h5 {
    font-size:18px;
    font-weight:400 !important;
}
.twt-write .t-text-area {
    background:#f4f4f6;
    border-radius:4px;
    -webkit-border-radius:4px;
    border:none;
    height:40px;
    color:#c9c9c9;
    margin-bottom:20px;
    padding-top:10px;
}
.twt-footer {
    padding:12px 15px;
}
.twt-footer,.twt-footer a {
    color:#d2d2d2;
}
.twt-footer i {
    padding-right:10px;
}
.btn-space {
    padding-left:11.6%;
    padding-right:11%;
}
.p-head {
    color:#f77b6f;
    font-weight:400;
    font-size:14px;
}
.cmt-head {
    font-weight:400;
    font-size:13px;
}
.p-thumb img {
    width:50px;
    height:50px;
    border-radius:3px;
    -webkit-border-radius:3px;
}
.tasi-tab .media-body p {
    /*color:#b8bac6;*/
}
.feed-box {
    position:relative;
}
.feed-box img {
    border-radius:50%;
    -webkit-border-radius:50%;
    width:85px;
    height:85px;
}
.feed-box h1 {
    font-size:20px;
    color:#8b8b8b;
    font-weight:400;
}
.feed-box a {
    color:#3ac7f9;
}
.profile-nav .user-heading.clock-row {
    padding:20px;
}
.clock-row {
    min-height:170px;
}
ul.clock-category {
    padding:15px 0;
}
ul.clock-category li {
    display:inline-block;
    width:24%;
    text-align:center;
    border:none;
}
ul.clock-category li a span {
    display:block;
    line-height:normal;
}
ul.clock-category li a i {
    font-size:30px;
    padding-right:0;
}
ul.clock-category li a:hover,ul.clock-category li a.active {
    color:#1fb5ad !important;
    background:none !important;
}
ul.clock-category li a:hover i,ul.clock-category li a.active i {
    color:#1fb5ad !important;
}
.clock-row h1 {
    font-size:22px !important;
    font-weight:400 !important;
    letter-spacing:1px;
    margin:0 0 5px 0!important;
    letter-spacing:1px;
}
.clock-row p {
    font-size:18px;
    font-weight:300;
    color:#fff !important;
    margin:0;
}
.wdgt-row {
    text-align:center !important;
}
.wdgt-row i {
    font-size:50px;
}
.wdgt-value h1 {
    color:#c7cbd6;
    font-size:30px;
    font-weight:400;
    margin:0;
}
.wdgt-value p {
    color:#c7cbd6;
    font-size:14px;
    font-weight:300;
    margin:0;
}
.red-bg {
    background:#fa8564;
}
.purple-bg {
    background:#9466b5;
    color:#fff;
}
.weather-box {
    float:left;
    width:100%;
}
.weather-box .symbol {
    border-radius:4px 0 0 4px;
    -webkit-border-radius:4px 0 0 4px;
    padding:61px 15px;
    width:50%;
    float:left;
    text-align:center;
}
.weather-box .symbol i {
    font-size:70px;
    text-shadow:-5px 6px 5px rgba(0,0,0,0.3);
}
.weather-box .value {
    float:right;
    width:50%;
    text-align:center;
    padding:33px 0;
    font-size:14px;
    color:#bdbdbd;
}
.weather-box .value i {
    font-size:20px;
}
.wdgt-row,.prd-img {
    position:relative;
}
.wdgt-row img {
    width:100%;
    border-radius:4px 4px 0 0;
    -webkit-border-radius:4px 4px 0 0;
}
.wdt-head {
    font-size:16px;
    font-weight:400;
    text-shadow:0 0 3px rgba(0,0,0,0.8);
    color:#fff;
    position:absolute;
    left:20px;
    bottom:15px;
}
.country-select {
    position:absolute;
    top:10px;
    right:10px;
}
.weather-full-info {
    color:#cbcbcb;
}
.weather-full-info h1 {
    font-size:14px;
    font-weight:600;
    margin:0 0 10px 0;
}
.weather-full-info h2 {
    font-size:14px;
    font-weight:300;
    margin:0 0 5px 0;
}
.weather-full-info .today-status i {
    color:#1fb5ad;
}
.weather-full-info .degree {
    font-size:30px;
    font-weight:600;
    display:inline-block;
    padding-left:20px;
}
.weather-full-info .degree:after {
    content:"o";
    position:relative;
    top:-12px;
    font-size:16px;
}
.weather-full-info ul {
    margin-bottom:0;
}
.weather-full-info ul li {
    display:inline-block;
    width:16%;
    text-align:center;
    border-left:1px solid #f1f2f7;
}
.weather-full-info ul li i {
    font-size:25px;
}
.weather-full-info .statistics {
    padding-top:5px;
}
.weather-full-info .statistics:after {
    content:"o";
    position:relative;
    top:-5px;
    font-size:10px;
}
.prd-row {
    position:relative;
}
.btn-add-cart {
    bottom:9px;
    padding:12px;
    position:absolute;
    right:15px;
}
.prd-row img {
    width:100%;
}
.prd-row .action {
    width:100px;
    height:45px;
    position:absolute;
    bottom:10px;
    right:-35px;
    background:rgba(0,0,0,0.5);
    border-radius:5px;
    -webkit-border-radius:5px;
}
.prd-row .action .part1 {
    width:50%;
    float:left;
    text-align:center;
    line-height:45px;
    color:#fff;
    font-size:18px;
}
.yellow-bg-prd {
    background:#ffdd00;
    border-radius:0 5px 5px 0;
    -webkit-border-radius:0 5px 5px 0;
}
.prd-row h1 {
    font-size:24px;
    font-weight:400;
    color:#5f6165;
    margin:5px 0;
}
.prd-row p {
    margin:0;
    color:#bfc2c4;
}
.prd-row p.normal {
    color:#bfc2c4;
}
.prd-row p.terques {
    color:#1fb5ad;
}
.prd-row .price {
    margin-top:20px;
    margin-bottom:20px;
}
.prd-row .price .amnt {
    color:#1fb5ad;
    font-size:25px;
    font-weight:600;
}
.prd-row .price .amnt:after {
    content:".00";
    position:relative;
    top:-10px;
    font-size:12px;
}
.clock-place {
    margin:-76px auto 0;
}
.btn-gap button {
    margin-right: 10px;
}
/*custom select*/
span.customSelect {
    font-size:12px;
    background-color:#ffffff;
    padding:6px 10px;
    border:1px solid #EAEAEA;
    -moz-border-radius:50px;
    -webkit-border-radius:50px;
    border-radius:50px;
    color:#A4AABA;
    text-align:left;
}
span.customSelect.changed {
    background-color:#fff;
}
.customSelectInner {
    background: url(./images/customSelect-arrow.gif) no-repeat center right;
}
/*boxed page */
.boxed-page {
    background-color:#000 !important;
}
.box-head {
    background:none;
}
.boxed-page .container {
    background:#32323A;
    padding-left:0;
    padding-right:0;
}
.boxed-page>.container {
    overflow:hidden;
}
.boxed-page .container #sidebar {
    position:inherit;
}
.boxed-page .container .header .container {
    background:#fff;
}
.boxed-page .container aside {
    float:left;
}
.boxed-page .container .wrapper {
    background:#F1F2F7;
    min-height:900px;
}
.boxed-page .brand {
    margin-left: 0;
}
/*collapsible*/
.tools a {
    margin-left:10px;
    color:#a7a7a7;
    font-size: 12px;
}
/*advanced form*/
.form-body {
    padding: 20px;
}
/*multiselect*/
.ms-container .ms-selectable li.ms-hover,.ms-container .ms-selection li.ms-hover {
    background-color:#2A3542;
    color:#FFFFFF;
    cursor:pointer;
    text-decoration:none;
}
.ms-container .ms-list,.ms-container .ms-list.ms-focus {
    box-shadow:none !important;
}
.ms-container .ms-list.ms-focus {
    border:1px solid #2A3542;
}
.ms-selectable .search-input,.ms-selection .search-input {
    margin-bottom: 10px;
}
/*spinner*/
.spinner-buttons.btn-group-vertical .btn {
    height:17px;
    margin:0;
    padding-left:6px;
    padding-right:6px;
    text-align:center;
    width:22px;
}
.spinner-buttons.btn-group-vertical .btn i {
    margin-top:-3px;
}
.spinner-buttons.btn-group-vertical .btn:first-child {
    border-radius:0 4px 0 0 !important;
    -webkit-border-radius:0 4px 0 0 !important;
}
.spinner-buttons.btn-group-vertical .btn:last-child {
    border-radius:0 0 4px !important;
    -webkit-border-radius: 0 0 4px !important;
}
/**/
.wysihtml5-toolbar .btn-default {
    background:#fff;
    color: #757575;
}
#time {
    width:100%;
    color:#fff;
    font-size:125px;
    margin-bottom:50px;
    display:inline-block;
    text-align:center;
    font-family:'Lato',sans-serif;
    font-weight: 100;
}

/*footer*/
.footer-section {
    background:#32323A;
    color:#fff;
    padding:10px 0;
    /*position:fixed;*/
    bottom:0;
    width:100%;
    margin-top:30px;
}
.go-top {
    margin-right:1%;
    float:right;
    background:rgba(0,0,0,.4);
    width:25px;
    height:25px;
    border-radius:2%;
    -webkit-border-radius:2%;
}
.go-top i {
    color:#fff;
    font-size:18px;
    padding-top:2px;
}
.site-min-height {
    min-height: 900px;
}

/*=Event Calendar=*/
.event-calendar {
    background:#1fb5ac;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    min-height:474px;
}
.calendar-block {
    float:right !important;
    -webkit-border-radius:0 5px 5px 0px;
    -moz-border-radius:0 5px 5px 0px;
    border-radius:0 5px 5px 0px;
    background:#fff;
    min-height:474px;
    z-index: 1000;
}
.event-list-block {
    -webkit-border-radius:5px 0px 0px 5px;
    -moz-border-radius:5px 0px 0px 5px;
    border-radius:5px 0px 0px 5px;
}
.calendar-block .clndr {
    margin:40px 0;
}
.calendar-block .clndr {
    margin:40px 0;
}
.calendar-block .clndr-controls {
    margin:45px 0px !important;
}
.calendar-block .day-contents {
    width:30px;
    margin:auto;
}
.today .day-contents {
    width:30px;
    background:#1fb0ab;
    cursor:pointer;
    color:#fff;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}
.calendar-block .day-contents:hover {
    width:30px;
    background:#1fb0ab;
    cursor:pointer;
    color:#fff;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}
.event-list {
    padding-left: 0;
}
.event-list li {
    background:rgba(255,255,255,.2);
    padding:10px 30px 10px 10px;
    color:#fff;
    margin-bottom:5px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    position:relative;
    list-style: none;
}

.event-close {
    display:inline-block;
    font-size:20px;
    color:#fff;
    position:absolute;
    right:4px;
    top:8px;
}
.cal-day {
    font-size:30px;
    font-weight:300;

    color:#fff;
    padding-top:15px;
    padding-bottom:30px;
}
.cal-day span {
    font-size:14px;
    display:block;
}
.evnt-input,.evnt-input:focus {
    background:none;
    border:none;
    border-bottom:#fff 1px solid;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
    color:#fff;
    padding-left:0px;
    margin-top:10px;
}
.widget-head {
    position:relative;
}
.widget-collapse {
    width:20px;
    height:20px;
    display:block;
    text-align:center;
    position:absolute;
    right:10px;
}
.widget-collapse i {
    width:20px;
    height:20px;
    display:block;
    text-align:center;
    line-height:20px;
    font-size:8px;
}
.mini-stat {
    background:#fff;
    padding:20px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    margin-bottom:20px;
}
.mini-stat-icon {
    width:60px;
    height:60px;
    display:inline-block;
    line-height:60px;
    text-align:center;
    font-size:30px;
    background:#eee;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius:100%;
    float:left;
    margin-right:10px;
    color:#fff;
}
.mini-stat-info {
    font-size:12px;
    padding-top:2px;
}
.mini-stat-info span {
    display:block;
    font-size:24px;
    font-weight:600;
}
.orange {
    background:#fa8564 !important;
}
.tar {
    background:#1fb5ac !important;
}
.mini-stat .green {
    background:#aec785 !important;
}
.pink {
    background:#a48ad4 !important;
}
.yellow-b {
    background: #fdd752 !important;
}
/*== Weather Widget ==*/
.weather-widget {
    background:#fff;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    margin-bottom:20px;
    padding:12px 15px;
}
.weather-info {
    margin:0px;
}
.weather-info li {
    font-size:14px;
    color:#ccc;
    list-style: none;
}
.weather-icon {
    margin-right:10px;
    padding-right:10px;
}
.weather-icon canvas {
    margin-top:15px;
}
.weather-cent span {
    font-size:30px;
    font-weight:700;
    color:#aec785;
}
.weather-cent span:after {
    content:"o";
    font-size:16px;
    position:relative;
    top:-15px;
}
.bar-stats {
    height:80px;
    margin-top:20px;
    border-bottom:#aec785 2px solid;
    position:relative;
}
.progress-stat-bar {
    padding-left:10px;
}
.progress-stat-bar li {
    height:78px;
    width:20px;
    background:#f1f1f1 !important;
    position:relative;
    margin-right:5px;
    float:left;
    list-style: none;
}
.progress-stat-percent {
    background:#aec785;
    display:block;
    position:absolute;
    bottom:0px;
    left:0px;
    width:100%;
}

.bar-legend {
    position:absolute;
    top:0px;
    right:0px;
    padding-left: 0;
}
.bar-legend li {
    font-size:11px;
    margin-bottom:5px;
    list-style: none;
}
.bar-legend-pointer {
    height:10px;
    width:10px;
    display:inline-block;
    position:relative;
    top:1px;
    margin-right:5px;
}
.bar-legend-pointer.green {
    background:#AEC785;
}
.daily-sales-info {
    color:#ccc;
}
.daily-sales-info span {
    display:inline-block;
}
.daily-sales-info span.sales-count {
    font-size:18px;
    color:#aec785;
    font-weight:600;
}
.daily-sales-info {
    padding-top:6px;
}
.daily-sales-info span.sales-label {
    position:relative;
    top:-2px;
}
.todo-title {
    margin-right:70px;
}
.to-do-list {
    padding-left: 0;
}
.to-do-list li {
    background:#f3f3f3;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    position:relative;
    padding:13px;
    margin-bottom:5px;
    cursor:move;
    list-style: none;
}
.to-do-list li p {
    margin-bottom:0px;
}
.todo-actionlist {
    position:absolute;
    right:15px;
    top:13px;
}
.todo-actionlist a {
    height:24px;
    width:24px;
    display:inline-block;
    float:left;
}
.todo-actionlist a i {
    height:24px;
    width:24px;
    display:inline-block;
    text-align:center;
    line-height:24px;
    color:#ccc;
}
.todo-actionlist a:hover i {
    color:#666;
}
.todo-done i {
    font-size:14px;
}
.todo-remove i {
    font-size:10px;
}
.line-through {
    text-decoration:line-through;
}
.todo-action-bar {
    margin-top:20px;
}
.drag-marker {
    height:17px;
    display:block;
    float:left;
    width:7px;
    position:relative;
    top:2px;
}
.drag-marker i {
    height:2px;
    width:2px;
    display:block;
    background:#ccc;
    box-shadow:5px 0 0 0px #ccc,0px 5px 0 0px #ccc,5px 5px 0 0px #ccc,0px 10px 0 0px #ccc,5px 10px 0 0px #ccc,0px 15px 0 0px #ccc,5px 15px 0 0px #ccc;
    -webkit-box-shadow:5px 0 0 0px #ccc,0px 5px 0 0px #ccc,5px 5px 0 0px #ccc,0px 10px 0 0px #ccc,5px 10px 0 0px #ccc,0px 15px 0 0px #ccc,5px 15px 0 0px #ccc;
    -moz-box-shadow: 5px 0 0 0px #ccc,0px 5px 0 0px #ccc,5px 5px 0 0px #ccc,0px 10px 0 0px #ccc,5px 10px 0 0px #ccc,0px 15px 0 0px #ccc,5px 15px 0 0px #ccc;
}
/*gallery*/
.media-filter {
    float: left;
    margin: 10px 0;
    padding-left: 0;
}
.media-filter li{
    float: left;
    margin-right: 10px;
    list-style: none;
}
.media-filter li a{
    background: #e6e6e6;
    padding: 5px 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
}
.media-filter li a:hover, .media-filter li a:focus{
    background: #1FB5AD;
    color: #fff;
}
.media-gal {
    float: left;
    width: 100%;
    margin-top: 20px;
}
.media-gal .item {
    float: left;
}
.media-gal .item {
    margin-bottom: 1%;
    margin-right: 1%;
    width: 233px;
    padding: 10px;
    border: 1px solid #ddd;
}
.media-gal .item p {
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}
.media-gal .item img {
    height: 200px;
    width: 100%;
}
.img-modal img{
    width: 100%;
    margin-bottom: 10px;
}
/*draggable portlet*/
.sortable-box-placeholder {
    height:200px !important;
    border: 2px dashed #828295;
    margin-bottom: 20px;
    background: #e5e6eb;
}
.sortable{
    min-height: 400px;
}
.guide{display: inline-block;
    width:10%;
    height:100%;
    float:left
}
.guide-shin{display: inline-block;
    width:22%;
    height:100%;
    float:left
}
.mini-td{
	width:25%;
	font-weight:bold;
	height:75px;
	text-align:center;
	vertical-align:center;
}
.paging_none {
  background-color: #FFFFFF;
  border: 1px solid #EBEFF5;
  color:#585858; 
  line-height: 1.42857;
  margin-left: -1px !important;
  padding: 5px 12px;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  font-weight:500;
  display:inline-block;
}
.paging_none:hover{
  background-color: #F2F2F2;
  color:#3D3D3D;
  opacity:0.4;
}
.paging_select {
  background-color: #F0F0F0;
  color:#585858;
  border: 1px solid #EFF2F7;
  margin-left: -1px !important;
  line-height: 1.42857;
  padding: 5px 12px;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  font-weight:500;
  display:inline-block;
}
.btn-file {
 position: relative;
 overflow: hidden;
}    		
.btn-file input[type=file] {
 position: absolute;
 top: 0;
 right: 0;
 min-width: 100%;
 min-height: 100%;
 font-size: 100px;
 text-align: right;
 filter: alpha(opacity=0);
 opacity: 0;
 outline: none;
 background: white;
 cursor: inherit;
 display: block;
}	
.marginClass{
	display:inline-block;
	width:20px;
}
.vertical-middle{
	vertical-align: middle;
	text-align: center;
	alignment-adjust: middle;
}
.vertical-right{
	vertical-align: bottom !important;
	text-align:right !important;
}
.borderless td, .borderless th {
    border: none !important;
    font-size: 13px;
    color: #D1D2D4 !important;
    font-weight: bold;
}
.morris-chart{
	height : 120px;
	width: 160px !important;
	display: inline-block;
}
.marginTag{
	width: 20%;
	display: inline-block !important;
}
.usage-price{
	vertical-align: bottom !important;
	font-size: 24px;
	font-weight:bold;
}
.usage-min{
	font-size: 13px;	
}
.active-num{
	font-size: 28px;
	color: #99C75B;	
}
.datepicker-switch{
	text-align: center;
	cursor:pointer;
}
.day{
	text-align: center;
	cursor:pointer;
}
.table-condensed > thead > tr > .dow{
	background-color: #F2FBEF!important;
	background: #F2FBEF !important;	
}
.table-condensed > tbody > tr > td:hover{
	border-radius: 3px;
	background : #D8D8D8;	
}
.table-condensed > tbody > tr > .active{
	border-radius: 3px;
	color : white;	
}
#upload {
    font-family: "PT Sans Narrow",sans-serif;
    background-color: #FFF;
    width: 100%;
    padding: 30px;
    border-radius: 3px;
    margin: 0px auto 10px;
}
#drop {
    background-color: #FFF;
    padding: 15px 15px;
    margin-bottom: 5px;
    border: 5px dashed #F1F2F7;
    border-radius: 3px;
    text-align: center;
    font-size: 16px;
    height: 100px;
    font-weight: bold;
    color: #7F858A;
}
#drop input {
    display: none;
}
#drop a {
    background-color: #1FB5AD;
    padding: 12px 26px;
    color: #FFF;
    font-size: 14px;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    margin-top: 12px;
    line-height: 1;
}
#upload ul {
    list-style: outside none none;
    margin: 0px;
}
#upload ul li {
    background-color: #F1F2F7;
    padding: 15px;
    height: 80px;
    position: relative;
}
#upload ul li canvas {
    top: 15px;
    left: 32px;
    position: absolute;
}
#upload ul li p {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    color: #32323A;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    left: 100px;
}
#upload ul li span {
    width: 15px;
    height: 12px;
    background: transparent url("./images/common/icons.png") no-repeat scroll 0% 0%;
    position: absolute;
    top: 34px;
    right: 33px;
    cursor: pointer;
}
#upload ul li i {
    font-weight: normal;
    font-style: normal;
    color: #7F7F7F;
    display: block;
}
#upload ul li input {
    display: none;
}
.nullClass{
    width:100%;
    height:49px;
    background:#F2F2F2;
    line-height:49px;
    margin-bottom:20px;
}
.eve > th{
  border-right:1px solid #DDDDDD;
  border-bottom : none !important;
}
.oddo > td{
  border-right:1px solid #DDDDDD;
}
.well.stepck{
  text-align:center;
  background:#1FB5AD;
  color:white;
  font-size:16px;
  font-weight:bold;
  border-radius:40px;
}

.well.step{
  text-align:center;
  color:#CECECE;
  font-size:16px;
  font-weight:bold;
  border-radius:40px;
}
#loading {
   width: 100%;
   height: 100%;
   top: 0px;
   left: 0px;
   line-height:normal;
   position: fixed;
   display: block;
   opacity: 0.6;
   background-color: #fff;
   z-index: 9999;
   text-align: center;
}

#loading-image {
  line-height:normal;
  position: absolute;
  z-index: 100;
  top:30%;
  left:27%;
}
.label_1{background:#59ACE2}
.label_2{background:#A9D86E}
.label_3{background:#8175C7}
.label_4{background:#344860}
.label_5{background:#FCB322}
.label_6{background:#FF6C60}
.label_7{background:#A1A1A1}
.label_8{background:#CEECF5}
.label_9{background:#F5A9BC}
.label_10{background:#A9F5A9}
.label_11{background:#FE9A2E}
.label_12{background:#81F7F3}
.label_13{background:#D0F5A9}
.label_14{background:#A9A9F5}
.label_15{background:#A9F5D0}

.panel-body .stepser{
    position:relative;
    overflow-y:auto !important;
    border-left : 1px solid #F2F2F2;
    border-right : 1px solid #F2F2F2;
    border-bottom : 1px solid #F2F2F2;
}

.panel-heading .stepsers{
    border : none !important;
    backgorund : #F2F2F2;
}
/*추가 css*/
.checking{
  background : #334647 !important;
  color : #1FB5AD !important;
}
.checking > a {
  color : #1FB5AD !important;
}
.checking > a > span{
  color : #FFF !important;
}

.language > img{
  cursor:pointer;
  margin-left:3px;
}

A.blue_list:link {color:#999966; font-weight:bold; text-decoration:none;}
A.blue_list:visited {color:#ff4d92; text-decoration:none;}
A.blue_list:active {color:#ff4d92; text-decoration:none;}
A.blue_list:hover {color:#ff4d92; text-decoration:none;}



/*timeline*/
.timeline {
    border-collapse:collapse;
    border-spacing:0;
    display:table;
    position:relative;
    table-layout:fixed;
    width:100%;
}
.timeline .time-show {
    margin-right:-75px;
    margin-top:30px;
    position:relative;
    margin-bottom:30px;
}
.timeline .time-show.first {
    /*margin-top:-80px;*/
}
.time-show .btn {
    width:150px;
}
.timeline .time-show a {
    color:#fff;
}
.timeline:before {
    background-color:#d8d9df;
    bottom:0px;
    content:"";
    left:50%;
    position:absolute;
    top:30px;
    width:1px;
    z-index:0;
}
h3.timeline-title {
    margin:0;
    color:#C8CCD7;
    font-size:20px;
    font-weight:400;
    margin:0 0 5px;
    text-transform:uppercase;
}
.t-info {
    color:#C8CCD7;
}
.timeline-item:before,.timeline-item.alt:after {
    content:"";
    display:block;
    width:50%;
}
.timeline-item {
    display:table-row;
}
.timeline-desk {
    display:table-cell;
    vertical-align:top;
    width:50%;
}
.timeline-desk h1 {
    font-size:16px;
    font-weight:300;
    margin:0 0 5px;
}
.timeline-desk .panel {
    display:block;
    margin-left:45px;
    position:relative;
    text-align:left;
    background:#fff;
}
.timeline-item .timeline-desk .arrow {
    border-bottom:8px solid transparent;
    border-top:8px solid transparent;
    display:block;
    height:0;
    left:-7px;
    position:absolute;
    top:13px;
    width:0;
}
.timeline-item .timeline-desk .arrow {
    border-right:8px solid #fff !important;
}
.timeline-item.alt .timeline-desk .arrow-alt {
    border-bottom:8px solid transparent;
    border-top:8px solid transparent;
    display:block;
    height:0;
    right:-7px;
    position:absolute;
    top:13px;
    width:0;
    left:auto;
}
.timeline-item.alt .timeline-desk .arrow-alt {
    border-left:8px solid #fff !important;
}
.timeline .timeline-icon {
    left:-60px;
    position:absolute;
    top:5px;
}
.timeline .timeline-icon {
    background:#C7CBD6;
    /*box-shadow:0 0 0 3px #C7CBD6;*/
}
.timeline-desk span a {
    text-transform:uppercase;
}
.timeline-desk h1.red,.timeline-desk span a.red {
    color:#EF6F66;
}
.timeline-desk h1.green,.timeline-desk span a.green {
    color:#39B6AE;
}
.timeline-desk h1.blue,.timeline-desk span a.blue {
    color:#56C9F5;
}
.timeline-desk h1.purple,.timeline-desk span a.purple {
    color:#8074C6;
}
.timeline-desk h1.light-green,.timeline-desk span a.light-green {
    color:#A8D76F;
}
.timeline-desk h1.yellow,.timeline-desk span a.yellow {
    color:#fed65a;
}
.timeline .timeline-icon.red {
    background:#EF6F66;
}
.timeline .timeline-icon.green {
    background:#39B6AE;
}
.timeline .timeline-icon.blue {
    background:#56C9F5;
}
.timeline .timeline-icon.purple {
    background:#8074C6;
}
.timeline .timeline-icon.light-green {
    background:#A8D76F;
}
.timeline .timeline-icon.yellow {
    background:#fed65a;
}
.timeline .timeline-icon {
    border-radius:50%;
    -webkit-border-radius:50%;
    display:block;
    height:30px;
    width:30px;
    text-align:center;
    color:#fff;
}
.timeline .timeline-icon i {
    margin-top:9px;
}
.timeline-item.alt .timeline-icon {
    left:auto;
    right:-60px;
}
.timeline .time-icon:before {
    font-size:16px;
    margin-top:5px;
}
.timeline .timeline-date {
    left:-245px;
    position:absolute;
    text-align:right;
    top:12px;
    width:150px;
    display:none;
}
.timeline-item.alt .timeline-date {
    left:auto;
    right:-245px;
    text-align:left;
    display:none;
}
.timeline-desk h5 span {
    color:#999999;
    display:block;
    font-size:12px;
    margin-bottom:4px;
}
.timeline-item.alt:before {
    display:none;
}
.timeline-item:before,.timeline-item.alt:after {
    content:"";
    display:block;
    width:50%;
}
.timeline-desk p {
    font-size:14px;
    margin-bottom:0;
    color:#999;
}
.timeline-desk a {
    color:#1fb5ad;
}
.timeline-desk .panel {
    margin-bottom:5px;
}
.timeline-desk .album {
    margin-top:20px;
}
.timeline-item.alt .timeline-desk .album {
    margin-top:20px;
    float:right;
}
.timeline-desk .album a {
    margin-right:5px;
    float:left;
}
.timeline-item.alt .timeline-desk .album a {
    margin-left:5px;
    float:right;
}
.timeline-desk .notification {
    background:none repeat scroll 0 0 #FFFFFF;
    margin-top:20px;
    padding:8px;
}
.timeline-item.alt .panel {
    margin-left:0;
    margin-right:45px;
}
.mbot30 {
    margin-bottom:30px;
}
.timeline-item.alt h1,.timeline-item.alt p {
    text-align: right;
}

.tiny-label{
    margin-bottom:5px;
    width:20px;
    height:20px;
    background:#57C8F1;
    text-align:center;
    color:white;
    border-radius:3px;
    line-height:20px;
    text-align:center;
    cursor:pointer;
}
.tooltip-inner {
    min-width: 50px !important;
}
.hr-class{
    margin-top : 10px !important;
    margin-bottom : 10px !important;
}
.horizon_hr{
    margin-bottom : 10px !important;
    margin-top : 10px !important;
}





/*add new*/
.tagsinput {
    height:40px !important;
    min-height:41px !important;
    margin:0 !important;
    overflow:auto !important;
    padding:5px !important;
}
div.tagsinput span.tag {
    background:none repeat scroll 0 0 #B49D61 !important;
    border:0 none !important;
    color:#FFF !important;
    margin-bottom:4px !important;
    padding:5px 6px !important;
}
div.tagsinput span.tag a{
   color:#333 !important; 
}
.hd-title {
    font-size:16px;
    margin: 10px 0;
}
/*DASHBOARD -jaman*/
.main-chart {
    width:100%;
    height:265px;
}
#flotTip {
    background:#fff;
    border:#ccc 1px solid;
    padding:10px;
}
#legendcontainer26 {
    padding:10px 0px;
}
#legendcontainer26 .legendColorBox {
    padding-right:5px;
}
#legendcontainer26 .legendColorBox div {
    border-radius:100% !important;
}
.widget-h {
    color:#767676;
    font-size:15px;
    font-weight:bold;
    margin:0px 0px 10px 0px;
    text-align:center;
}
.gauge-canvas {
    text-align:center;
}
.gauge-value {
    color:#fa8564;
    font-size:16px;
    font-weight:bold;
    padding-left:20px;
}
.gauge-title {
    color:#ccc;
    font-size:14px;
    padding-right:20px;
}
.gauge-meta {
    margin:0px;
    padding-top:7px;
    list-style: none;
    padding-left: 0;
}
.daily-visit {
    text-align:center;
}
.daily-visit-spark {
    padding:10px 0px;
}
.sm-pie .legendColorBox {
    padding-right:5px;
}
.sm-pie .legendColorBox>div {
    border:#fff 0px solid !important;
}
.sm-pie .legendColorBox div {
    border-radius:100% !important;
}
.epie-chart {
    position:relative;
    display:inline-block;
    width:80px;
    height:80px;
    text-align:center;
}
.epie-chart canvas {
    position:absolute;
    top:0;
    left:0;
}
.percent {
    display:inline-block;
    line-height:80px;
    z-index:2;
}
.pc-epie-chart {
    position:relative;
    display:inline-block;
    width:50px;
    height:50px;
    text-align:center;
}
.pc-epie-chart canvas {
    position:absolute;
    top:0;
    left:0;
}
.pc-epie-chart .percent {
    display:inline-block;
    line-height:50px;
    z-index:2;
    font-size:10px;
    color:#5bc6f0;
}
.percent:after {
    content:'%';
    margin-left:0.1em;
    font-size:.8em;
}
.chart-meta {
    margin:0px;
    padding-left: 0;
    list-style: none;
}
.visit-chart-value {
    font-size:18px;
    color:#3acdc7;
    font-weight:600;
    padding-top:10px;
}
.visit-chart-title {
    font-size:16px;
    padding-top:10px;
    color:#ccc;
}
.visit-chart-title i {
    color:#3acdc7;
}
.top-stats-panel {
    min-height:164px;
}
.top-stats-panel .sm-pie {
    margin-top:30px;
}
.sm-pie {
    height:100px;
    width:100%;
    display:block;
}
.target-sell {
    height:40px;
    width:100%;
    display:block;
}
.side-graph-info {
    float:left;
    padding-top:7px;
    padding-bottom:7px;
    padding-left:15px;
}
.side-mini-graph {
    float:right;
    width:70px;
    margin-right:10px;
    text-align:center;
}
.side-graph-info.payment-info {
    padding-top:10px;
}
.monthly-stats {
    -webkit-border-radius:4px 4px 0px 0px;
    border-radius:4px 4px 0px 0px;
    margin:-15px -15px 15px -15px;
    padding:15px;
}
.monthly-stats.pink {
    background-color:#9972b5 !important;
    ;
}
.sparkline {
    text-align:center;
}
.monthly-stats h4 {
    color:#fff;
    font-weight:normal;
    text-transform:uppercase;
    margin:0px;
    padding:5px 0px 10px 0px;
}
.circle-sat ul {
    text-align:center;
}
.circle-sat ul li {
    display:inline-block;
}
.circle-sat ul li span {
    display:block;
    text-transform:uppercase;
}
.left-stat-label span,.right-stat-label span {
    display:block;
}
.left-stat-label {
    text-align:right;
    font-size:11px;
    position:relative;
    top:10px;
    padding-right:10px;
}
.right-stat-label {
    text-align:left;
    font-size:11px;
    position:relative;
    top:10px;
    padding-left:10px;
}
.left-stat-label .sell-percent {
    color:#f9a10c;
    font-size:14px;
}
.right-stat-label .sell-percent {
    color:#36d8c0;
    padding-top:30px;
    font-size:14px;
}
.spark-bar-label span {
    display:block;
    color:#bbb;
}
.bar-label-value {
    font-size:20px;
    color:#666 !important;
}
.prospective-spark-bar {
    margin:0px;
    padding-left: 0;
}
.prospective-spark-bar li {
    padding:20px 0px 20px 0px;
    list-style: none;
}
.jqstooltip:after {
    top:100%;
    left:50%;
    border:solid transparent;
    content:" ";
    height:0;
    width:0;
    position:absolute;
    pointer-events:none;
    border-color:rgba(136,183,213,0);
    border-top-color:rgba(0,0,0,0.6);
    border-width:4px;
    margin-left:-4px;
}
.stat-btn {
    padding:3px;
    background-color:#eee6f5;
    border-radius:3px;
    height:24px;
    color:#cab1d9;
}
.stat-btn:hover {
    background-color:#422c50;
    color:#cab1d9;
}
.stat-btn.active {
    background-color:#422c50;
    color:#cab1d9;
}
.region-earning-stats {
    text-align:center;
    color:#6d6d6d;
    text-transform:uppercase;
    padding:40px 30px;
    font-family:'Open Sans',sans-serif;
    font-weight:600;
}
.region-earning-stats span {
    display:block;
    color:#b0c781;
    font-size:20px;
}
.location-earning-stats {
    text-align:center;
    font-family:'Open Sans',sans-serif;
    font-weight:600;
    margin-bottom:30px;
    padding-left: 0;
}
.location-earning-stats li {
    padding:0px 15px;
}
.location-earning-stats li {
    display:inline-block;
    text-transform:uppercase;
    font-size:12px;
}
.location-earning-stats li span {
    display:block;
    font-size:14px;
}
.stat-divider {
    border-right:#dadada 1px dashed;
}
.vector-stat {
    height:150px;
    margin-top:20px;
}
.alert-icon {
    width:40px;
    height:40px;
    display:inline-block;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius:100%;
}
.alert-icon i {
    width:40px;
    height:40px;
    display:block;
    text-align:center;
    line-height:40px;
    font-size:20px;
    color:#fff;
}
.notification-info {
    margin-left:56px;
    margin-top:-40px;
}
.notification-meta {
    margin-bottom:3px;
    padding-left: 0;
    list-style: none;
}
.notification-info p {
    margin:0px;
    color:#999;
    font-size:12px;
}
.alert-info .alert-icon {
    background-color:#99cce3;
}
.alert-danger .alert-icon {
    background-color:#fcb1ae;
}
.alert-success .alert-icon {
    background-color:#98d7ad;
}
.alert-warning .alert-icon {
    background-color:#ffe699;
}
.notification-sender {
    color:#414147;
}
.notification-time {
    font-style:italic;
    color:#999;
}
.alert-info .notification-info a {
    color:#45a2c9;
}
.alert-danger .notification-info a {
    color:#fb6f6b;
}
.alert-success .notification-info a {
    color:#42b663;
}
.alert-warning .notification-info a {
    color:#e6cb76;
}
.alert-info.bucket-notification {
    background-color:#eef7fd;
}
.alert-danger.bucket-notification {
    background-color:#fef3f2;
}
.alert-success.bucket-notification {
    background-color:#eef8f8;
}
.alert-warning.bucket-notification {
    background-color: #fff7e1;
}
/*=Chat=*/
.conversation-list {
    list-style: none;
    padding-left: 0;
}
.conversation-list li {
    margin-bottom:24px;
}
.conversation-list .chat-avatar {
    width:40px;
    display:inline-block;
    text-align:center;
    float:left;
}
.conversation-list .chat-avatar i {
    font-size:12px;
    font-style:normal;
}
.conversation-list .ctext-wrap i {
    display:block;
    font-style:normal;
    font-weight:bold;
    position:relative;
    font-size:12px;
    color:#2cb9b3;
}
.conversation-list .conversation-text {
    display:inline-block;
    font-size:12px;
    float:left;
    margin-left:12px;
    width:70%;
}
.conversation-list .ctext-wrap {
    padding:10px;
    background:#d5f2ef;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    position:relative;
    display:inline-block;
}
.conversation-list .ctext-wrap p {
    margin:0px;
    padding-top:3px;
}
.conversation-list .ctext-wrap:after {
    right:100%;
    top:20%;
    border:solid transparent;
    content:" ";
    height:0;
    width:0;
    position:absolute;
    pointer-events:none;
    border-color:rgba(213,242,239,0);
    border-right-color:#d5f2ef;
    border-width:5px;
    margin-top:-5px;
}
.conversation-list .odd .chat-avatar {
    float:right !important;
}
.conversation-list .odd .conversation-text {
    width:70% !important;
    margin-right:12px;
    text-align: right;
    float:right !important;
}
.conversation-list .odd .ctext-wrap {
    background:#eeeef2 !important;
}
.conversation-list .odd .ctext-wrap i {
    color:#acacac;
}
.conversation-list .odd .ctext-wrap:after {
    left:100% !important;
    top:20% !important;
    border-color:rgba(238,238,242,0)!important;
    border-left-color:#eeeef2!important;
}
.chat-send {
    padding-left:0px;
}
.chat-send button {
    width: 100%;
}
/*=Event Calendar=*/
.event-calendar {
    background:#1fb5ac;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    min-height:474px;
}
.calendar-block {
    float:right !important;
    -webkit-border-radius:0 5px 5px 0px;
    -moz-border-radius:0 5px 5px 0px;
    border-radius:0 5px 5px 0px;
    background:#fff;
    min-height:474px;
    z-index: 1000;
}
.event-list-block {
    -webkit-border-radius:5px 0px 0px 5px;
    -moz-border-radius:5px 0px 0px 5px;
    border-radius:5px 0px 0px 5px;
}
.calendar-block .clndr {
    margin:40px 0;
}
.calendar-block .clndr {
    margin:40px 0;
}
.calendar-block .clndr-controls {
    margin:45px 0px !important;
}
.calendar-block .day-contents {
    width:30px;
    margin:auto;
}
.today .day-contents {
    width:30px;
    background:#1fb0ab;
    cursor:pointer;
    color:#fff;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}
.calendar-block .day-contents:hover {
    width:30px;
    background:#1fb0ab;
    cursor:pointer;
    color:#fff;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}
.event-list {
    padding-left: 0;
}
.event-list li {
    background:rgba(255,255,255,.2);
    padding:10px 30px 10px 10px;
    color:#fff;
    margin-bottom:5px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    position:relative;
    list-style: none;
}

.event-close {
    display:inline-block;
    font-size:20px;
    color:#fff;
    position:absolute;
    right:4px;
    top:8px;
}
.cal-day {
    font-size:30px;
    font-weight:300;
    text-transform:uppercase;
    color:#fff;
    padding-top:15px;
    padding-bottom:30px;
}
.cal-day span {
    font-size:14px;
    display:block;
}
.evnt-input,.evnt-input:focus {
    background:none;
    border:none;
    border-bottom:#fff 1px solid;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
    color:#fff;
    padding-left:0px;
    margin-top:10px;
}
.widget-head {
    position:relative;
}
.widget-collapse {
    width:20px;
    height:20px;
    display:block;
    text-align:center;
    position:absolute;
    right:10px;
}
.widget-collapse i {
    width:20px;
    height:20px;
    display:block;
    text-align:center;
    line-height:20px;
    font-size:8px;
}
.mini-stat {
    background:#fff;
    padding:20px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    margin-bottom:20px;
}
.mini-stat-icon {
    width:60px;
    height:60px;
    display:inline-block;
    line-height:60px;
    text-align:center;
    font-size:30px;
    background:#eee;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius:100%;
    float:left;
    margin-right:10px;
    color:#fff;
}
.mini-stat-info {
    font-size:12px;
    padding-top:2px;
}
.mini-stat-info span {
    display:block;
    font-size:24px;
    font-weight:600;
}
.orange {
    background:#fa8564 !important;
}
.tar {
    background:#1fb5ac !important;
}
.mini-stat .green {
    background:#aec785 !important;
}
.pink {
    background:#a48ad4 !important;
}
.yellow-b {
    background: #fdd752 !important;
}
/*== Weather Widget ==*/
.weather-widget {
    background:#fff;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    margin-bottom:20px;
    padding:12px 15px;
}
.weather-info {
    margin:0px;
}
.weather-info li {
    font-size:14px;
    color:#ccc;
    list-style: none;
}
.weather-icon {
    margin-right:10px;
    padding-right:10px;
}
.weather-icon canvas {
    margin-top:15px;
}
.weather-cent span {
    font-size:30px;
    font-weight:700;
    color:#aec785;
}
.weather-cent span:after {
    content:"o";
    font-size:16px;
    position:relative;
    top:-15px;
}
.bar-stats {
    height:80px;
    margin-top:20px;
    border-bottom:#aec785 2px solid;
    position:relative;
}
.progress-stat-bar {
    padding-left:10px;
}
.progress-stat-bar li {
    height:78px;
    width:20px;
    background:#f1f1f1;
    position:relative;
    margin-right:5px;
    float:left;
    list-style: none;
}
.progress-stat-percent {
    background:#aec785;
    display:block;
    position:absolute;
    bottom:0px;
    left:0px;
    width:100%;
}
.bar-legend {
    position:absolute;
    top:0px;
    right:0px;
    padding-left: 0;
}
.bar-legend li {
    font-size:11px;
    margin-bottom:5px;
    list-style: none;
}
.bar-legend-pointer {
    height:10px;
    width:10px;
    display:inline-block;
    position:relative;
    top:1px;
    margin-right:5px;
}
.bar-legend-pointer.green {
    background:#AEC785;
}
.daily-sales-info {
    color:#ccc;
}
.daily-sales-info span {
    display:inline-block;
}
.daily-sales-info span.sales-count {
    font-size:18px;
    color:#aec785;
    font-weight:600;
}
.daily-sales-info {
    padding-top:6px;
}
.daily-sales-info span.sales-label {
    position:relative;
    top:-2px;
}
.todo-title {
    margin-right:70px;
}
.to-do-list {
    padding-left: 0;
}
.to-do-list li {
    background:#f3f3f3;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    position:relative;
    padding:13px;
    margin-bottom:5px;
    cursor:move;
    list-style: none;
}
.to-do-list li p {
    margin-bottom:0px;
}
.todo-actionlist {
    position:absolute;
    right:15px;
    top:13px;
}
.todo-actionlist a {
    height:24px;
    width:24px;
    display:inline-block;
    float:left;
}
.todo-actionlist a i {
    height:24px;
    width:24px;
    display:inline-block;
    text-align:center;
    line-height:24px;
    color:#ccc;
}
.todo-actionlist a:hover i {
    color:#666;
}
.todo-done i {
    font-size:14px;
}
.todo-remove i {
    font-size:10px;
}
.line-through {
    text-decoration:line-through;
}
.todo-action-bar {
    margin-top:20px;
}
.drag-marker {
    height:17px;
    display:block;
    float:left;
    width:7px;
    position:relative;
    top:2px;
}
.drag-marker i {
    height:2px;
    width:2px;
    display:block;
    background:#ccc;
    box-shadow:5px 0 0 0px #ccc,0px 5px 0 0px #ccc,5px 5px 0 0px #ccc,0px 10px 0 0px #ccc,5px 10px 0 0px #ccc,0px 15px 0 0px #ccc,5px 15px 0 0px #ccc;
    -webkit-box-shadow:5px 0 0 0px #ccc,0px 5px 0 0px #ccc,5px 5px 0 0px #ccc,0px 10px 0 0px #ccc,5px 10px 0 0px #ccc,0px 15px 0 0px #ccc,5px 15px 0 0px #ccc;
    -moz-box-shadow: 5px 0 0 0px #ccc,0px 5px 0 0px #ccc,5px 5px 0 0px #ccc,0px 10px 0 0px #ccc,5px 10px 0 0px #ccc,0px 15px 0 0px #ccc,5px 15px 0 0px #ccc;
}
/* To-Do Check*/
.to-do-list li .todo-check input[type=checkbox] {
    visibility:hidden;
}
.todo-check {
    width:20px;
    position:relative;
    margin-right:10px;
    margin-left:10px;
}
.todo-check label {
    cursor:pointer;
    position:absolute;
    width:20px;
    height:20px;
    top:0;
    left:0px;
    -webkit-border-radius:2px;
    border-radius:2px;
    border:#ccc 1px solid;
}
.todo-check label:after {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter:alpha(opacity=0);
    opacity:0;
    content:'';
    position:absolute;
    width:13px;
    height:8px;
    background:transparent;
    top:3px;
    left:3px;
    border:3px solid #cfcfcf;
    border-top:none;
    border-right:none;
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    transform:rotate(-45deg);
}
.todo-checklabel:hover::after {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter:alpha(opacity=30);
    opacity:0.3;
}
.todo-check input[type=checkbox]:checked+label:after {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter:alpha(opacity=100);
    opacity:1;
}
.btn-todo-select button,.btn-add-task button {
    width:100%;
    font-size: 12px;
}
.todo-search-wrap {
    padding:0px;
}
.todo-search {
    -moz-border-radius:3px !important;
    -webkit-border-radius:3px !important;
    border-radius:3px !important;
}
.side-mini-stat {
    padding:10px 0 !important;
}
.notification-pie-chart {
    position:relative !important;
    display:block;
    height:50px;
    width:50px;
}
.notification-pie-chart .pie-percent,.notification-pie-chart .percent {
    width:50px !important;
    height:50px !important;
    display:block;
    line-height:52px !important;
    text-align:center;
    margin-left:0px !important;
    padding-left:0px !important;
    position:absolute;
    top:0px;
    font-size:11px !important;
    font-weight:normal !important;
    color:#666;
}
.legendLabel {
    padding-bottom:3px;

    color : #BCBDD1 !important;
}
.notification-pie-chart .percent:after {
    content:'%';
    margin-left:0.1em;
    font-size:.8em;
}
.first-city {
    color:#7bd0d1;
}
.second-city {
    color:#c5cc73;
}
.third-city {
    color:#e47578;
}
.top-menu .dropdown-menu:after,.top-menu .dropdown-menu:before {
    bottom:100%;
    left:9%;
    border:solid transparent;
    content:" ";
    height:0;
    width:0;
    position:absolute;
    pointer-events:none;
}
.top-menu .dropdown-menu:after {
    border-color:rgba(255,255,255,0);
    border-bottom-color:#ffffff;
    border-width:7px;
    margin-left:-7px;
}
.top-menu .dropdown-menu:before {
    border-color:rgba(238,238,238,0);
    border-bottom-color:#eeeeee;
    border-width:8px;
    margin-left:-8px;
}
.pull-right.top-menu .dropdown-menu:after,.pull-right.top-menu .dropdown-menu:before {
    bottom:100%;
    left:90%;
    border:solid transparent;
    content:" ";
    height:0;
    width:0;
    position:absolute;
    pointer-events:none;
}
.pull-right.top-menu .dropdown-menu:after {
    border-color:rgba(255,255,255,0);
    border-bottom-color:#ffffff;
    border-width:7px;
    margin-left:-7px;
}
.pull-right.top-menu .dropdown-menu:before {
    border-color:rgba(238,238,238,0);
    border-bottom-color:#eeeeee;
    border-width:8px;
    margin-left: -8px;
}
/*Chart JS*/
.chartJs {
    width:100%;
    display:block;
}
#gmap-list,#gmap-tabs {
    height:450px;
}
#graph-area-line>svg,#graph-bar>svg {
    width:100% !important;
}
.task-info .desc p {
    padding-bottom:0px !important;
}
.task-info .desc h5 {
    padding-top:8px;
}
.evnt-input:-moz-placeholder {
    color:#fff !important;
    font-size:12px;
}
.evnt-input::-moz-placeholder {
    color:#fff !important;
    font-size:12px;
}
.evnt-input:placeholder {
    color:#fff !important;
    font-size:12px;
}
.evnt-input::-webkit-input-placeholder {
    color:#fff !important;
    font-size: 12px;
}

#map-canvas{
    margin-top: 40px;
    width:400px;
    height:400px;
    webkit-border-radius:100%; -moz-border-radius:100%; border-radius:100%;
    border:#eee 10px solid;
}


.gear-settings{ width: 35px; height: 35px; -webkit-border-radius: 0 30% 0 0; -moz-border-radius: 0 30% 0 0; border-radius: 0 30% 0 0;}

.gear-settings i{
    width: 35px; height: 35px;
    display: inline-block;
    text-align: center;
    line-height: 33px;
    font-size: 18px;
    position: relative;
    color: #BFBFC1;

}

.gear-settings:hover i{
    color: #666;
}


.theme-switcher{ width: 228px;
    padding-left: 7px;
    border: #eee 1px solid;
    position: fixed; top: -240px; right:-1px;  z-index:1000; background: #fff;  -webkit-transition:all .3s ease-in-out;
    -moz-transition:all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;
    transition: all .3s ease-in-out;

}
.show-switcher{
    right: -1px;
    top:80px;
    -webkit-transition:all .3s ease-in-out;
    -moz-transition:all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.theme-switcher h6{
    padding: 10px 10px 0px 10px;
    margin: 0px;
}
.color-list{
    padding: 5px;

}
.select-layout{
    padding: 10px;
}
.select-layout li a, .layout-option li a, .layout-option li .btn {
    border-radius: 3px;
    font-size: 12px;
    padding: 3px 10px;
    margin-right: 5px;
}

.color-list li{
    width: 24px;
    height: 24px;
    display: inline-block;
    float: left;
    margin: 5px;
}

.theme-color {
    cursor:pointer;
}
.default-theme {
    background-color:#1FB5AD;
}
.blue-theme {
    background-color:#38bbeb;
}
.green-theme {
    background-color:#8ebf4e;
}
.orange-theme {
    background-color:#fea352;
}
.purple-theme {
    background-color:#9488dd;
}
.turquoise-theme {
    background-color: #6ccac9;
}

.fixed-width{
    background: #aeaeae;
}
.fixed-width #container{
    width: 90%;
    margin: auto;
    overflow: hidden !important;
    position: relative;
}

.fixed-width #container .header{
    width: 90%;
    left: auto;
    right: auto;
}


.fixed-width #main-content{ background: #F1F2F7;}

.fixed-width #container #sidebar{
    position: absolute;
}

/*gallery*/

.media-filter {
    float: left;
    margin: 10px 0;
    padding-left: 0;
}

.media-filter li{
    float: left;
    margin-right: 10px;
    list-style: none;
}

.media-filter li a{
    background: #e6e6e6;
    padding: 5px 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
}

.media-filter li a:hover, .media-filter li a:focus{
    background: #1FB5AD;
    color: #fff;
}

.media-gal {
    float: left;
    width: 100%;
    margin-top: 20px;
}
.media-gal .item {
    float: left;
}

.media-gal .item {
    margin-bottom: 1%;
    margin-right: 1%;
    width: 233px;
    padding: 10px;
    border: 1px solid #ddd;
}

.media-gal .item p {
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}

.media-gal .item img {
    height: 200px;
    width: 100%;
}

.img-modal img{
    width: 100%;
    margin-bottom: 10px;
}

/* Start: Recommended Isotope styles */

/* Isotope Filtering */

.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

/*Isotope CSS3 transitions */

.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
}

/*disabling Isotope CSS3 transitions */

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}


/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

/*draggable portlet*/

.sortable-box-placeholder {
    height:200px !important;
    border: 2px dashed #828295;
    margin-bottom: 20px;
    background: #e5e6eb;
}

.sortable{
    min-height: 400px;
}

.guide{display: inline-block;
    width:10%;
    height:100%;
    float:left
}
.mini-td{
	width:40%;
	font-weight:bold;
	height:75px;
	text-align:center;
	vertical-align:center;
}

.vertical {
  display: inline-block;
  width: 20%;
  height: 50px;
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
}
.vertical {
  box-shadow: inset 0px 4px 6px #ccc;
}
.progress-bar {
  box-shadow: inset 0px 4px 6px rgba(100,100,100,0.6);
}
