.btn-default {
  background-color: #333; }

.btn-white {
  border: 1px solid #DDDDDD !important; }

.btn-secondary {
  border: 1px solid #333 !important; }

#save .btn {
  width: 100px; }

p.showText {
  min-width: 0px; }

button:hover p.showText {
  min-width: 100px; }

.search-inside-icon {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 13px 25px;
  border-radius: 0px 25px 25px 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0px; }

a {
  color: #767676;
  cursor: pointer; }

input:-moz-read-only {
  /* For Firefox */
  color: #DDD; }

input:read-only {
  color: #868686; }

/* Header */
/* Additional */
.round-border {
  border-radius: 50px;
  border: 1px solid #DDDDDD; }

.border {
  border: 1px solid #DDDDDD; }

.mt-2 {
  margin-top: 20px; }

.mt-3 {
  margin-top: 30px; }

.mt-5 {
  margin-top: 50px; }

.img-thumb {
  width: 50px; }

/* Bootstrap 3 */
.form-control {
  color: #333;
  font-size: 13px; }

#floortab select {
  margin: 15px 0px; }

.panel {
  margin: 0px;
  -webkit-box-shadow: -5px 5px 15px -5px #b1b1b1;
          box-shadow: -5px 5px 15px -5px #b1b1b1; }

.icheckbox_flat-blue {
  display: inline-block !important;
  vertical-align: middle; }

.checkbox label, .radio label {
  padding: 0px 25px 0px 5px; }

div.tagsinput span.tag, .btn-default:hover {
  background: #B49D61; }

.fa-exclamation {
  color: #FF6C60; }

.nav-tabs > li {
  width: 20%;
  text-align: center; }

.panel-heading .nav > li > a, .panel-heading .nav > li.active > a, .panel-heading .nav > li.active > a:hover, .panel-heading .nav > li.active > a:focus {
  border-bottom: 1px solid #333; }

.language-panel {
  border: 1px solid #333;
  margin: 15px;
  border-radius: 0px; }

.language-panel .panel-heading .nav {
  border-bottom: 1px solid #333; }

.language-panel .panel-body {
  margin-left: -15px; }

#switch-components .clearfix {
  margin: 15px 0px; }

input[type=number] {
  padding: 5px;
  text-align: center; }

#more-map .tools .btn {
  color: #FFF; }

/* Modal - Popup*/
.modal-footer {
  border: 0px; }

.modal-dialog {
  margin-top: 0px; }

.modal-content {
  border-radius: 0px; }

/* Switch JS */
.has-switch span.switch-right, .has-switch span.switch-primary, .has-switch span.switch-left {
  font-size: 10px;
  line-height: 22px; }

.fa-certificate {
  color: #FF6C60; }

/* Icons */
.icon {
  width: 20px; }

.control-label {
  font-weight: bold !important; }

.iradio_flat-blue {
  float: left; }

tr.odd {
  background-color: #f9f9f9; }

.hidden-table {
  background-color: #f9f9f9; }

.btn {
  border-color: transparent; }

.btn-black {
  background-color: #FFF;
  color: #333;
  border: 1px solid #333 !important; }

/*menu Effect*/
.menu {
  -webkit-filter: url("#shadowed-goo");
  filter: url("#shadowed-goo"); }

.menu-item, .menu-open-button {
  background: #00bcd4;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  margin-left: -40px;
  position: absolute;
  top: 35px;
  color: white;
  text-align: center;
  line-height: 48px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition: -webkit-transform ease-out 200ms;
  -webkit-transition: -webkit-transform ease-out 200ms;
  transition: transform ease-out 200ms;
  transition: transform ease-out 200ms, -webkit-transform ease-out 200ms; }

.menu-open {
  display: none; }

.hamburger {
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background: white;
  display: block;
  position: absolute;
  top: 50%;
  left: 60%;
  margin-left: -7px;
  margin-top: -1.5px;
  transition: -webkit-transform 200ms;
  -webkit-transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms; }

.hamburger-1 {
  -webkit-transform: translate3d(0, -8px, 0);
  transform: translate3d(0, -8px, 0); }

.hamburger-2 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.hamburger-3 {
  -webkit-transform: translate3d(0, 8px, 0);
  transform: translate3d(0, 8px, 0); }

.menu-open:checked + .menu-open-button .hamburger-1 {
  -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
  transform: translate3d(0, 0, 0) rotate(45deg); }

.menu-open:checked + .menu-open-button .hamburger-2 {
  -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
  transform: translate3d(0, 0, 0) scale(0.1, 1); }

.menu-open:checked + .menu-open-button .hamburger-3 {
  -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
  transform: translate3d(0, 0, 0) rotate(-45deg); }

.menu {
  position: absolute;
  top: -40px;
  right: 10%;
  margin-left: -80px;
  padding-top: 0px;
  padding-left: 80px;
  width: 400px;
  height: 75px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 20px;
  text-align: right; }
  .menu .tooltip {
    position: absolute;
    min-width: 120px;
    top: -35px !important; }

.menu-item:hover {
  background: white;
  color: #00bcd4; }

.menu-item:nth-child(3) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms; }

.menu-item:nth-child(4) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms; }

.menu-item:nth-child(5) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms; }

.menu-item:nth-child(6) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms; }

.menu-open-button {
  z-index: 2;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
          transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer; }

.menu-open-button:hover {
  -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
  transform: scale(1.2, 1.2) translate3d(0, 0, 0); }

.menu-open:checked + .menu-open-button {
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
  transform: scale(0.8, 0.8) translate3d(0, 0, 0); }

.menu-open:checked ~ .menu-item {
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
          transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1); }

.menu-open:checked ~ .menu-item:nth-child(3) {
  -webkit-transition-duration: 190ms;
          transition-duration: 190ms;
  -webkit-transform: translate3d(-60px, 0, 0);
  transform: translate3d(-60px, 0, 0); }

.menu-open:checked ~ .menu-item:nth-child(4) {
  -webkit-transition-duration: 290ms;
          transition-duration: 290ms;
  -webkit-transform: translate3d(-125px, 0, 0);
  transform: translate3d(-125px, 0, 0); }

.menu-open:checked ~ .menu-item:nth-child(5) {
  -webkit-transition-duration: 390ms;
          transition-duration: 390ms;
  -webkit-transform: translate3d(-190px, 0, 0);
  transform: translate3d(-190px, 0, 0); }

.menu-open:checked ~ .menu-item:nth-child(6) {
  -webkit-transition-duration: 490ms;
          transition-duration: 490ms;
  -webkit-transform: translate3d(-255px, 0, 0);
  transform: translate3d(-255px, 0, 0); }

svg {
  height: 0px;
  width: 0px; }
