.btn-default{
	background-color: #333;
}

.btn-white{
	border: 1px solid $black3 !important;
}

.btn-secondary{
	border: 1px solid #333 !important;
}

#save .btn{
	width: 100px;
}

p.showText{
	min-width: 0px;
}

button:hover p.showText{
	min-width: 100px;
}

.search-inside-icon{
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 13px 25px;
	border-radius: 0px 25px 25px 0px;
	box-shadow: none;
	border: 0px;
}
